* {
    margin: 0;
    padding: 0;
}

#firstImage {
    min-height: 500px;
    background-image: url(/img/simon-wilkes-2ceyL8qAPXg-unsplash.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    color: whitesmoke;
}

.imgDescription {
    font-size: 150%;
    border-radius: 5px;
    text-align: center;
    margin: auto;
    margin-top: auto;
    width: 40%;
    padding: 10px;
}

h2 {
    padding: 30px;
    font-size: xx-large;
}

.Section {
    background-color: #F1EEE9;
    text-align: center;
    padding: 50px;
    font-family: 'Times New Roman', Times, serif;
}

#secondImage {
    min-height: 500px;
    background-image: url(/img/andrea-de-santis-96BE9HVj5PU-unsplash.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    color: whitesmoke;
}

#thirdImage {
    min-height: 500px;
    background-image: url(/img/karsten-wurth-UbGYPMbMYP8-unsplash.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    color: whitesmoke;
}

#fourthImage {
    min-height: 500px;
    background-image: url(/img/marcus-lofvenberg-WLXfEKt2pXc-unsplash.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    color: whitesmoke;
}